<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <!-- Include Bootstrap separately due to url recognition -->
    <!-- ref: https://github.com/mileszs/wicked_pdf/issues/470 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= wicked_pdf_stylesheet_link_tag 'clinsyte_report' %>
    <%= wicked_pdf_javascript_include_tag 'clinsyte_report' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <p>
          <strong>Name:</strong>
          <%= @report.name %>
        </p>

        <p>
          <strong>Partner:</strong>
          <%= @report.partner %>
        </p>
      </div>
    </div>
  </body>
</html>
